.DS_Store
__pycache__
models/*
!models/.gitkeep 
data/*
!data/.gitkeep 
figures/*
!figures/.gitkeep 
script/GTimage_test.py
script/eval.py
script/test.py
script/eval_plot_copy.py
script/eval.py
script/json
script/cfgs
script/net
script/tf_pose


